<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}" />
    {%- include head.html -%}

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MZVLZD84");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MZVLZD84"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {%- if site.gtm_container_id and site.gtm_container_id != "GTM-XXXXXXX" -%}
    {%- endif -%}

    <header class="container">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
      </nav>
    </header>

    <main class="container">{{ content }}</main>
  </body>
</html>
